@charset "UTF-8";

/* ---------------------------------------------------------- *\
 * Data.
\* ---------------------------------------------------------- */

/**
 * Colors.
 */

$color-brand: rgb(186, 83, 221);
$color-text: rgb(10, 10, 10);
$color-background: rgb(42, 42, 42);

/**
 * Fonts.
 */

$font-normal: Roboto, Verdana, sans-serif;
