@charset "UTF-8";

/* ---------------------------------------------------------- *\
 * Globals.
\* ---------------------------------------------------------- */

html {
  box-sizing: border-box;

  color: $color-text;
  background: $color-background;

  font: 62.5%/1.4 $font-normal;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;

  margin: 0;
  padding: 15px;

  font-size: 1.5em;
}

/* ---------------------------------------------------------- *\
 * Reset.
\* ---------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
p,
input {
  margin: 0;
}

/* ---------------------------------------------------------- *\
 * Selection.
\* ---------------------------------------------------------- */

::selection {
  color: white;
  background: $color-brand;
}

/* ---------------------------------------------------------- *\
 * Link.
\* ---------------------------------------------------------- */

a,
a:visited {
  color: $color-brand;
  border-bottom: 1px dotted currentColor;

  text-decoration: none;
}

a:hover {
  color: lighten($color-brand, 5%);
  border-bottom-style: solid;
}

a:active,
a:focus {
  color: darken($color-brand, 10%);
}
