<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloudy Build</title>

    <link rel="shortcut icon" href="/static/favicon.ico?v=004">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">
    <link rel="stylesheet" href="/static/css/master.css">
  </head>
  <body>
    <header class="header">
      <h1 class="header__title">Cloudy Build</h1>
      <p>Get your latest <a href="https://unity3d.com/services/cloud-build">Unity Cloud Build</a> install link in a few seconds.</p>
    </header>

    <main role="main" class="main">
      <form id="create-shareable-link">
        <div class="line">
          <p class="line__field">
            <label for="project" class="line__label">
              Project
            </label>
            <input type="text" id="project" name="project" class="line__input" required>
          </p>
          <p class="line__detail">Your project name.</p>
        </div>

        <div class="line">
          <p class="line__field">
            <label for="org" class="line__label">
              Organization
            </label>
            <input type="text" id="org" name="org" class="line__input" required>
          </p>
          <p class="line__detail">Your company name, probably.</p>
        </div>

        <div class="line">
          <p class="line__field">
            <label for="key" class="line__label">
              API Key
            </label>
            <input type="text" id="key" name="key" placeholder="axp818372dqsd917dqa1708bqs4258ab" class="line__input" required>
          </p>
          <p class="line__detail">Available in the <a href="https://developer.cloud.unity3d.com/preferences/">Unity Cloud Build preferences</a>.</p>
        </div>

        <p>
          <button type="submit" class="button">Get Latest Builds</button>
        </p>
      </form>
    </main>

    <footer class="footer">
      Made with ♥︎ by <a href="http://solarsailer.net/">Matthieu Oger</a>
    </footer>

    <script src="/static/js/master.js"></script>
  </body>
</html>
