@charset "UTF-8";

/* ---------------------------------------------------------- *\
 * Line.
\* ---------------------------------------------------------- */

.line {
  margin-bottom: 2.5rem;
}

.line:last-of-type {
  margin-bottom: 5rem;
}

.line__label {
  display: flex;

  margin-bottom: 0.5rem;

  text-transform: uppercase;

  align-items: baseline;
}

.line__main {
  font-weight: 900;

  flex: 1;
}

.line__additional {
  font-size: 0.8em;
}

.line__additional :last-child {
  margin-left: 5px;
}

.line__input {
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 1rem;

  color: $color-brand;
  border: 1px solid #dddddd;
  border-radius: 0.5rem;

  font-family: inherit;
  font-size: 1em;
  font-weight: bold;

  text-transform: uppercase;
}

.line__description {
  color: rgb(128, 128, 128);

  font-size: 0.8em;
  font-style: italic;
}
