@charset "UTF-8";

/* ---------------------------------------------------------- *\
 * Main.
\* ---------------------------------------------------------- */

.main {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;

  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 2rem rgba(black, 0.25);
}
